td {
	height: 34px;
	width: 34px;
	background-color: white;
	text-align: center;
}

tr:nth-child(2n+1) td:nth-child(2n+1), tr:nth-child(2n) td:nth-child(2n)
	{
	background-color: #57a;
}

img {
	height: 30px;
}
td.chosen{
	border:1px solid red;
}

#from, #to {
	width: 40px;
}

th {
	max-width: 34px;
}

#time {
	xx-background-color: #B88;
}


